body {
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: space-between;
}
.produto {
  border: 1.5px dashed #000;
  padding: 10px;
  margin: 5px;
  display: inline-block;
}
.produto.disabled {
  color: #CCC;
  opacity: 0.3;
}
.produto strong {
  font-size: 25px;
}
.produto p {
  margin-top: 0px;
  color: #b3adad;
}
.preco strong {
  font-size: 18px;
}
.produto button {
  font-size: 10px;
  margin-top: 21px;
}

.cart p {
  margin-top: 0px;
}
.prods {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding-right: 55px;
}
.line {
  border-bottom: 2px solid #CCC;
}