body {
  box-sizing: border-box;
}
.container {
  display: flex;
}
.title h1 {
  text-align: center;
}
.produtos {
  display: flex;
}
.produto {
  border: 1px dashed #333;
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
}
.produto h4 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: -20px;
}
.produto h5 {
  font-size: 12px;
  color: #999;
}
.produto p {
  font-size: 25px;
  font-weight: bold;
}
button {
  padding: 3px;
}

.cart {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}
.compra {
  flex: 1;
  max-width: 350px;
}
.head {
  display: flex;
  justify-content: space-between;
  width: 195px;
  margin-top: 10px;
}
.head h3 {
  margin-top: 5px;
}
.qtProduto {
  margin-top: -15px;
}
.compra h5 {
  margin-top: -20px;
}